.navigation-bar {
  background-color: hsl(0, 0%, 0%);
  color: aliceblue;
}

.image-caption {
  background-color: black;
}

.image-caption h2 {
  color: beige;
}

#footer-section h2 {
  color: azure;
  background-color: black;
}
