* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-image: url("Images/Student4/GalleryPage/d798571efb75d26b0ece1c936bcf6368.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  min-height: 100vh;
}

.navigation-bar {
  background-color: black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 120px 20px; /* Added padding to avoid overlap with navigation bar */
}

.thumbnail {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.thumbnail:hover img {
  transform: scale(1.05);
}



.img-1 {
  height: 400px;
}

.img-2 {
  height: 700px;
}

.img-3 {
  height: 500px;
}

.img-4,
.img-5,
.img-6 {
  height: 800px; /* Equal height for images in the third column */
}
