body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}
.container {
  width: 80%;
  margin: 20px auto;
  background-color: #e6f4ea;
  border: 2px solid #b2d8b5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  font-size: 2.5em;
  background-color: #b2d8b5;
  padding: 20px;
  margin: 0;
  border-radius: 10px 10px 0 0;
}
.info {
  background-color: #ffffff;
  border: 1px solid #b2d8b5;
  padding: 10px;
  margin: 20px 0;
  text-align: left;
  border-radius: 10px;
}
.info p {
  margin: 5px 0;
}
.section {
  margin: 20px 0;
}
.section h2 {
  font-size: 2em;
  margin: 0;
  color: #000800;
}
.section p {
  font-size: 1.2em;
}
.section a {
  display: block;
  margin: 10px 0;
  font-size: 1.2em;
  color: #006400;
  text-decoration: underline;
}
a:link,
a:visited {
  color: #006400;
  text-decoration: underline;
}
a:hover,
a:active {
  color: #004d00;
}
#top-link,
#bottom-link {
  font-size: 1em;
  margin: 10px 0;
  display: block;
  color: #006400;
}
