/* CSS CODE OF THARUSHA */

/* CSS CODE OF HASMINI */

/* CSS CODE OF DILEEPA */
body {
  background-color: black;
}

.editor-image {
  /*max-width: 600px;*/
  width: 10px;
  height: 5px;
  /*object-fit: contain;*/
}
